doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ANDROIDD

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 ANDROID

      section
        h2 Sejarah android
        h3 Android adalah sistem operasi berbasis linux yang dirancang untuk perangkat seluler layar sentuh seperti telepon pintar dan komputer tablet. Android awalnya dikembangkan oleh Android, Inc., dengan dukungan finansial dari Google, yang kemudian membelinya pada tahun 2005. Sistem operasi ini dirilis secara resmi pada tahun 2007, bersamaan didirikannya Open Handset Alliance, konsorsium dari perusahaan-perusahaan perangkat keras, perangkat lunak, dan telekomunikasi yang bertujuan untuk memajukan standar terbuka perangkat seluler. Ponser Android pertama mulai dijual pada bulan oktober 2008.

      section
        h2 Jenis-Jenis OS Anroid
        ul
          li Android Versi 1.1
          li Android Versi 1.5 (Cupcake)
          li Android Versi 1.6 (Donut)
          li Android Versi 2.0/2.1 (Eclair)
          li Android Versi 2.2 (Froyo)
          li Android Versi 2.3 (Gingerbread)
          li Android Versi 3.0/3.1 (Honeycomb)
          li Android Versi 4.0 (Ice Cream Sandwich)
          li Android Versi 4.1 (Jelly Bean)
          li Android Versi 4.4 (Kitkat)

      section
        h2 Android Versi 1.1
        h3 Android diluncurkan pertama kali pada tahun 2007, namun sistem operasi ini mulai dirilis dan diterapkan ke berbagai gadget pada tanggal 9 Maret 2009 silam. Android versi 1.1 merupakan Android awal yang dimana versi ini baru memberikan sentuhan di beberapa aplikasinya seperti sistem antar muka bagi pengguna (user interface) yang lebih baik, serta beberapa aplikasi yang lain.  
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Android Versi 1.5 (Cupcake)
        h3  Pada bulan Mei 2009 Androi kembali mengalami perubahan versi 1.1 kemudain disempurnakan dengan Android versi 1.5 atau yang dikenal sebagai Android Cupcake. Perubahan yang terjadi pada sistem Android Cupcake bisa dibilang cukup banyak. Diantaranya adalah sistem fasilitas mengunggah video ke Youtube, aplikasi headset nirkabel bluetooth,tampilan keyboard di layar, serta tampilan gambar bergerak yang lebih aktraktif.
      section(data-bespoke-state='emphatic')
        h2 Android versi 1.6 (Donut)
        h3 Donut (versi 1.6) diluncurkan dalam tempo kurang dari 4 bulan semenjak peluncuran perdana Andrid Cupcake, yaitu pada bulan September 2009. Android versi Donut memiliki beberapa vitur yang lebih baik dibanding dengan pendahulunya, yakni mempu menayangkan indikator betere pada ponsel, pengguna dapat memilih dan memnetukan file yang akan dihapus, zoom-in zoom-out gambar denga membaca gerakan serta arah gerakan tangan (gesture), penggunaan konenksi CDMSA/EVDO, dan lain sebagainya.
      section
        h2 Android versi 2.0/2.1(Eclair) 
        h3 Masih ditahun yang sama, Android kembali merilis operating sistem versi terbarunya, yaitu Android versi 2.0/2.1 Eclair. Android Eclair diluncurkan oleh Google 3 bulan setelah peluncuran Android versi 1.6. Dengan meluncurkan 4 versi ditahun yang sama, akhirnya begitu banyak perusahaan pengembang gadget atau handset yang mulai tertarik untuk menggunakan dan mengembangkan Android sebagai platform utama yang digunakan untuk handset-handset terbaru mereka. Inilah dimana era kebangkitan Android yang sempat mendobrak doktrin penggunaan sistem layar yang awalnya dipandang kurang user friendly bagi pengguna.
      section
        h2 Android versi 2.2(Froyo)
        h3 Android Froyo dirilis pada 20 mei 2012. Adroid versi ini memiliki kecepatan kinerja dan aplikasi 2 sampai 5 kali dari versi-versi sebelumnya. Selain itu ada penambahan fitur-fitur baru seperti dukungan Adobe Flash 10.1,  intergrasi V8 JavaScript engine yang dipakai Google Chrome yang mempercepat kemampuan rendering pada browser, pemasangan aplikasi dalam SD Card, kemampuan WiFi Hotspot portabel, dan kemampuan auto update dalam aplikasi Android Market.
      section
        h2 Android versi 2.3 Gingerbread
        h3 Andoid Gingerbread di rilis pada 6 Desember 2010. Perubahan-perubahan umum yang didapat dari Android versi ini antara lain peningkatan kemampuan permainan (gaming), peningkatan fungsi copy paste, layar antar muka (User Interface) didesain ulang, dukungan format video VP8 dan WebM, efek audio baru (reverb, equalization, headphone virtualization, dan bass boost), dukungan kemampuan Near Field Communication (NFC), dan dukungan jumlah kamera yang lebih dari satu.
      section
        h2 Android versi 3.0/3.1 Honeycomb
        h3  Android Honeycomb di rilis pada awal 2012. Merupakan versi Android yang dirancang khusus untuk device dengan layar besar seperti Tablet PC. Fitur baru yang ada pada Android Honeycomb antara lain yaitu dukungan terhadap prosessor multicore dan grafis dengan hardware acceleration. User Interface pada Honeycomb juga berbeda karena sudah didesain untuk tablet. Tablet pertama yang memakai Honeycomb adalah tablet Motorola Xoom yang dirilis bulan Februari 2011. Selain itu sebuah perangkat keras produksi Asus  bernama Eee Pad Transformer juga menggunakan OS Android honeycomb dan diharapkan akan masuk ke pasaran Indonesia pada Mei 2011.
      section
        h2 Android versi 4.0 ICS (Ice Cream Sandwich)
        h3 Android Ice Cream Sandwich diumumkan secara resmi pada 10 Mei 2011 di ajang Google I/O Developer Conference (San Francisco), pihak Google mengklaim Android Ice Cream Sandwich akan dapat digunakan baik di smartphone ataupun tablet. Android Ice Cream Sandwich membawa fitur Honeycomb untuk smartphone serta ada penambahan fitur baru seperti membuka kunci dengan pengenalan wajah, jaringan data pemantauan penggunaan dan kontrol, terpadu kontak jaringan sosial, perangkat tambahan fotografi, mencari email secara offline, dan berbagi informasi dengan menggunakan NFC. Ponsel pertama yang menggunakan sistem operasi ini adalah Samsung Galaxy Nexus.
       section
         h2 Android versi 4.1 Jelly Bean
         h3 Android Jelly Bean juga diluncurkan pada acara Google I/O  10 Mei 2011 yang lalu. Android versi ini membawa sejumlah keunggulan dan fitur baru, diantaranya peningkatkan input keyboard, desain baru fitur pencarian, UI yang baru dan pencarian melalui Voice Search yang lebih cepat. Versi ini juga dilengkapi Google Now yang dapat memberikan informasi yang tepat pada waktu yang tepat pula. Salah satu kemampuannya adalah dapat mengetahui informasi cuaca, lalu-lintas, ataupun hasil pertandingan olahraga. Sistem operasi Android Jelly Bean 4.1 pertama ali digunakan dalam produk tablet Asus, yakni Google Nexus 7.
       section
          h2 Keamanan dan Privasi pada Android
          h3 Aplikasi Android berjalan di sandbox, sebuah area terisolasi yang tidak memiliki akses pada sistem, kecuali izin akses yang secara eksplisit diberikan oleh pengguna ketika memasang aplikasi. Sebelum memasang aplikasi, Play Store akan menampilkan semua izin yang diperlukan, misalnya: sebuah permainan perlu mengaktifkan getaran atau menyimpan data pada Kartu SD, tapi tidak perlu izin untuk membaca SMS atau mengakses buku telepon. Setelah meninjau izin tersebut, pengguna dapat memilih untuk menerima atau menolaknya, dan bisa memasang aplikasi hanya jika mereka menerimanya.
Sistem sandbox dan perizinan pada Android bisa mengurangi dampak kerentanan terhadap bug pada aplikasi, namun ketidaktahuan pengembang dan terbatasnya dokumentasi telah menghasilkan aplikasi yang secara rutin meminta izin yang tidak perlu, sehingga mengurangi efektivitasnya. Beberapa perusahaan keamanan perangkat lunak seperti Avast, Lookout Mobile Security,AVG Technologies,dan McAfee,telah merilis perangkat lunak antivirus ciptaan mereka untuk perangkat Android. Perangkat lunak ini sebenarnya tidak bekerja secara efektif karena sandbox juga bekerja pada aplikasi tersebut, sehingga membatasi kemampuannya untuk memindai sistem secara lebih mendalam.
      section
          h2 Penggunaan Android Di Perangkat Lain
          h3 Sifat Android yang terbuka dan bisa dikustomisasi menyebabkan sistem operasi ini juga digunakan pada perangkat elektronik lainnya, termasuk laptop dan netbook, smartbook,Smart TV (Google TV), dan kamera (Nikon Coolpix S800c dan Galaxy Camera).Selain itu, sistem operasi Android juga mengembangkan aplikasinya pada kacamata pintar (Google Glass), jam tangan,penyuara kuping,CD mobil dan pemutar DVD,cermin,pemutar media portabel,jaringan tetap, dan telepon VoIP.Ouya, sebuah konsol permainan video yang menggunakan sistem operasi Android, menjadi salah satu produk Kickstarter yang paling sukses, didanai sebesar $8,5 juta untuk pengembangannya, yang kemudian diikuti oleh konsol permainan video berbasis Android lainnya seperti Project Shield besutan Nvidia.

Pada tahun 2011, Google memperkenalkan "Android@Home", teknologi otomatis baru yang memanfaatkan Android untuk mengontrol beberapa alat-alat rumah tangga seperti kontak lampu, soket listrik, dan termostat. Mengontrol lampu dikatakan dapat dikendalikan dari ponsel atau tablet Android. Pimpinan Android Andy Rubin menegaskan bahwa "menyalakan dan mematikan lampu bukanlah hal yang baru, Google berpikir lebih ambisius dan tujuannya adalah untuk menggunakan posisinya sebagai penyedia jasa awan guna membawa produk-produk Google ke rumah pelanggan."

Pada bulan Agustus 2011, Parrot meluncurkan sistem stereo mobil dengan platform Android, yang dikenal dengan Asteroid dan dilengkapi dengan perintah suara.Pada September 2013, Clarion merilis sistem stereo mobil dengan platform Android yang lebih maju, yang dikenal dengan AX1 dan Mirage, menggunakan Android 2.3.7 dan 2.2 (Gingerbread) dan dilengkapi dengan navigasi berbasis GPS, layar 6,5 inci, dan berbagai pilihan untuk akses data nirkabel.

Berbagai perangkat lainnya, meskipun tidak menggunakan Android, juga dirancang dengan antarmuka yang berfungsi sebagai pendamping atau pelengkap bagi perangkat Android, misalnya SmartWatch Sony atau Galaxy Gear Samsung.
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/besposke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild