doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ANDROID

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 ANDROID

      section
        h2 Sejarah android
        h3 Android adalah sistem operasi berbasis linux yang dirancang untuk perangkat seluler layar sentuh seperti telepon pintar dan komputer tablet. Android awalnya dikembangkan oleh Android, Inc., dengan dukungan finansial dari Google, yang kemudian membelinya pada tahun 2005. Sistem operasi ini dirilis secara resmi pada tahun 2007, bersamaan didirikannya Open Handset Alliance, konsorsium dari perusahaan-perusahaan perangkat keras, perangkat lunak, dan telekomunikasi yang bertujuan untuk memajukan standar terbuka perangkat seluler. Ponser Android pertama mulai dijual pada bulan oktober 2008.

      section
        h2 Jenis-Jenis OS Anroid
        ul
          li Android Versi 1.1
          li Android Versi 1.5 (Cupcake)
          li Android Versi 1.6 (Donut)
          li Android Versi 2.0/2.1 (Eclair)
          li Android Versi 2.2 (Froyo)
          li Android Versi 2.3 (Gingerbread)
          li Android Versi 3.0/3.1 (Honeycomb)
          li Android Versi 4.0 (Ice Cream Sandwich)
          li Android Versi 4.1 (Jelly Bean)
          li Android Versi 4.4 (Kitkat)

      section
        h2 Android Versi 1.1
        h3 Android diluncurkan pertama kali pada tahun 2007, namun sistem operasi ini mulai dirilis dan diterapkan ke berbagai gadget pada tanggal 9 Maret 2009 silam. Android versi 1.1 merupakan Android awal yang dimana versi ini baru memberikan sentuhan di beberapa aplikasinya seperti sistem antar muka bagi pengguna (user interface) yang lebih baik, serta beberapa aplikasi yang lain.  
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Android Versi 1.5 (Cupcake)
        h3  Pada bulan Mei 2009 Androi kembali mengalami perubahan versi 1.1 kemudain disempurnakan dengan Android versi 1.5 atau yang dikenal sebagai Android Cupcake. Perubahan yang terjadi pada sistem Android Cupcake bisa dibilang cukup banyak. Diantaranya adalah sistem fasilitas mengunggah video ke Youtube, aplikasi headset nirkabel bluetooth,tampilan keyboard di layar, serta tampilan gambar bergerak yang lebih aktraktif.
      section(data-bespoke-state='emphatic')
        h2 Android versi 1.6 (Donut)
        h3 Donut (versi 1.6) diluncurkan dalam tempo kurang dari 4 bulan semenjak peluncuran perdana Andrid Cupcake, yaitu pada bulan September 2009. Android versi Donut memiliki beberapa vitur yang lebih baik dibanding dengan pendahulunya, yakni mempu menayangkan indikator betere pada ponsel, pengguna dapat memilih dan memnetukan file yang akan dihapus, zoom-in zoom-out gambar denga membaca gerakan serta arah gerakan tangan (gesture), penggunaan konenksi CDMSA/EVDO, dan lain sebagainya.
      section
        h2 Android versi 2.0/2.1(Eclair) 
                 h3 Masih ditahun yang sama, Android kembali merilis operating sistem versi terbarunya, yaitu Android versi 2.0/2.1 Eclair. Android Eclair diluncurkan oleh Google 3 bulan setelah peluncuran Android versi 1.6. Dengan meluncurkan 4 versi ditahun yang sama, akhirnya begitu banyak perusahaan pengembang gadget atau handset yang mulai tertarik untuk menggunakan dan mengembangkan Android sebagai platform utama yang digunakan untuk handset-handset terbaru mereka. Inilah dimana era kebangkitan Android yang sempat mendobrak doktrin penggunaan sistem layar yang awalnya dipandang kurang user friendly bagi pengguna.
      section
        h2 Android Versi 2.2 (Froyo)
        h3 Butuh 5 bulan bagi Google untuk melakukan generasi dari Android Eclair versi sebelumnya ke versi Froyo (Frozen Yoghurt). Pada tanggal 20 Mei 2010, Android versi 2.2 alias Android Froyo ini resmi dirilis. Sistem operasi dengan  julukan Froyo ini melakukan beberapa update dan juga pembenahan seputar apliaksi serta tampilannya. Keinginan untuk bisa menempatkan sebuah kartu ekspansi berbentuk slot Micro SD berkapasitas besar sudah bisa diwujudkan oleh OS versi ini.
	section
        h2 Android Versi 3.0 (Honeycomb)
        h3 Pada bulan Mei 2011, Android Versi 3.0/3.1 (Android Honeycomb) resmi dirilis. Android Honeycomb merupakan sebuah sistem operasi Android yang dikhususkan bagi pengguna tablet berbasis Android. Halaman pengguna (user interface) yang digunakan pada Android versi ini juga sangat berbeda dengan yang digunakan pada smartphone Android. Hal tersebut tentu saja disebabkan oleh tampilan layar yang lebih besar pada tablet serta untuk mendukung penggunaan hardware dengan spesifikasi yang lebih tinggi.
	section
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/besposke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild